[package]
name = "dnp3-ffi"
version = "0.1.0"
authors = ["Émile Grégoire <emile@automatak.com>"]
edition = "2018"

[lib]
crate-type = ["rlib", "staticlib", "cdylib"]

[dependencies]
tracing = "0.1"
tracing-subscriber = "0.2"
dnp3 = { path = "../../dnp3", features = ["ffi"] }
tokio = { version = "1.0", features = ["rt-multi-thread"] }
num_cpus = "1"

[build-dependencies]
dnp3-schema = { path = "../dnp3-schema" }
rust-oo-bindgen = { git = "https://git@github.com/stepfunc/oo_bindgen.git", branch = "feature/ci-update" }
