[package]
name = "dnp3-ffi"
version = "0.1.0"
authors = ["Émile Grégoire <emile@automatak.com>"]
edition = "2018"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
log = { version = "0.4", features = ["std"] }
dnp3 = { path = "../../dnp3" }
tokio = { version = "^0.2.23", features = ["rt-threaded"] }

[build-dependencies]
dnp3-schema = { path = "../dnp3-schema" }
rust-oo-bindgen = { git = "https://git@github.com/grid-io/oo_bindgen.git" }
