/target
dependencies.json
dependencies.txt

# IDEs
.vscode
.idea
.vs
*.iml

dnp3/codegen/target

# this is where criterion puts the benchmark report
dnp3/target

# Cargo config
/.cargo/config.toml

# Codegen
/codegen/target

# Generated C lib
ffi/bindings/c/build
ffi/bindings/c/generated

# Generated .NET lib
ffi/bindings/dotnet/dnp3
ffi/bindings/dotnet/**/bin
ffi/bindings/dotnet/**/obj
ffi/bindings/dotnet/nupkg

# Generated Java lib
ffi/bindings/java/.idea
ffi/bindings/java/dnp3
ffi/bindings/java/dnp3-jni
ffi/bindings/java/*/target
ffi/bindings/java/**/*.iml

# .NET examples properties
ffi/bindings/dotnet/examples/master/Properties/
ffi/bindings/dotnet/examples/outstation/Properties/
