/target
Cargo.lock

# IDEs
.vscode
.idea
.vs

dnp3/codegen/target

# this is where criterion puts the benchmark report
dnp3/target

# Cargo config
/.cargo/config.toml

# Codegen
/codegen/target

# Generated C lib
ffi/bindings/c/build
ffi/bindings/c/generated

# Generated .NET lib
ffi/bindings/dotnet/dnp3rs
ffi/bindings/dotnet/**/bin
ffi/bindings/dotnet/**/obj
ffi/bindings/dotnet/nupkg

# Generated Java lib
ffi/bindings/java/.idea
ffi/bindings/java/dnp3rs
ffi/bindings/java/dnp3rs-jni
ffi/bindings/java/*/target
ffi/bindings/java/**/*.iml
