[package]
name = "dnp3"
version = "0.1.0"
authors = ["Adam Crain <jadamcrain@automatak.com>"]
edition = "2018"

[dependencies]
log = "0.4"
chrono = "0.4"
tokio-mock = { git = "https://github.com/stepfunc/tokio-mock.git" }
tokio-serial = { version = "4.3", default-features = false }
xxhash-rust = { version = "0.8.0-beta.5", features = ["xxh64"] }

[dev-dependencies]
assert_matches = "1.2"
colog = "^1.0"
tokio = { version = "^0.2.23", features = ["rt-threaded", "macros"] }
tokio-util = { version = "0.3", features = ["codec"] }
