[package]
name = "dnp3"
version = "0.10.0-alpha"
authors = ["Adam Crain <adam@stepfunc.io>", "Émile Grégoire <emile@stepfunc.io>"]
edition = "2018"

[dependencies]
tracing = "0.1"
chrono = "0.4"
pem = "1.0"
pkcs8 = { version = "0.7", features = ["encryption", "pem", "std"] }
rasn = { git = "https://github.com/stepfunc/rasn", tag = "0.1.2" }
tokio-mock = { git = "https://github.com/stepfunc/tokio-mock.git", tag = "0.1.0" }
tokio-rustls = { version = "0.23", features = ["dangerous_configuration", "tls12"], default-features = false }
tokio-serial = "5.4"
xxhash-rust = { version = "0.8.2", features = ["xxh64"] }

[dev-dependencies]
assert_matches = "1.2"
tracing-subscriber = "0.2"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }
tokio-util = { version = "0.6", features = ["codec"] }
tokio-stream = { version = "0.1.1" }
criterion = "0.3"
rand = "0.8"

[features]
# this feature flag is only used when building the FFI
ffi = []

[[bench]]
name = "benchmark"
harness = false
