[package]
name = "dnp3"
version = "0.1.0"
authors = ["Adam Crain <jadamcrain@automatak.com>"]
edition = "2018"

[dependencies]
tracing = "0.1"
chrono = "0.4"
tokio-mock = { git = "https://github.com/stepfunc/tokio-mock.git", branch="master" }
tokio-one-serial = { git = "https://github.com/stepfunc/tokio-1.0-serial.git", branch="master" }
xxhash-rust = { version = "0.8.0-beta.5", features = ["xxh64"] }

[dev-dependencies]
assert_matches = "1.2"
tracing-subscriber = "0.2"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }
#winapi = { version = "=0.3.9", features = ["mstcpip"] }
tokio-util = { version = "0.6", features = ["codec"] }
tokio-stream = { version = "0.1.1" }
criterion = "0.3"
rand = "0.8"

[features]
# this feature flag is only used when building the FFI
ffi = []

[[bench]]
name = "benchmark"
harness = false
