[package]
name = "dnp3"
version = "1.0.0"
authors = ["Step Function I/O LLC <info@stepfunc.io>"]
edition = "2021"

[dependencies]
tracing = "0.1"
chrono = "0.4"
tokio = { version = "1", features = ["net", "sync", "io-util", "io-std", "time", "rt", "rt-multi-thread", "macros"] }
tokio-serial = "5.4"
xxhash-rust = { version = "0.8.2", features = ["xxh64"] }

# TLS dependencies
pem = { version = "1.0", optional = true }
pkcs8 = { version = "0.7", features = ["encryption", "pem", "std"], optional = true }
rasn = { git = "https://github.com/stepfunc/rasn", tag = "0.1.2", optional = true }
tokio-rustls = { version = "0.23", features = ["dangerous_configuration", "tls12"], default-features = false, optional = true }

[dev-dependencies]
tokio-mock-io = { git = "https://github.com/stepfunc/tokio-mock-io.git", tag = "0.1.0" }
assert_matches = "1.2"
tracing-subscriber = "0.2"
tokio-util = { version = "0.6", features = ["codec"] }
tokio-stream = { version = "0.1.1" }
criterion = "0.3"
rand = "0.8"
tokio = { version = "1", features = ["test-util"] }

[features]
default = ["tls"]
ffi = [] # this feature flag is only used when building the FFI
tls = ["pem", "pkcs8", "rasn", "tokio-rustls"]

[[bench]]
name = "benchmark"
harness = false
